@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?67861846');
    src: url('font/fontello.eot?67861846#iefix') format('embedded-opentype'),
    url('font/fontello.woff?67861846') format('woff'),
    url('font/fontello.ttf?67861846') format('truetype'),
    url('font/fontello.svg?67861846#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-logo:before { content: '\e800'; } /* '' */
.icon-email:before { content: '\e801'; } /* '' */
.icon-back_arrow:before { content: '\e802'; } /* '' */
.icon-booking:before { content: '\e803'; } /* '' */
.icon-cart:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-location_e:before { content: '\e807'; } /* '' */
.icon-location_f:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-stroke:before { content: '\e80a'; } /* '' */
.icon-time:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-message:before { content: '\e80d'; } /* '' */

html{
    height:100%;
}
body{
    margin: 0;
    height:100%;
    background: #f7f7f8;
}
p{
    margin:0;
}
.gb_bottom_bar{
    position: fixed;
    bottom:0;
    height:70px;
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.1);
    width:100%;
    display: flex;
    font-family: 'fontello';
    justify-content: space-between;
    background: #ffffff;
}
.gb_bottom_bar .gb_bottom_item{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
}
.gb_bottom_bar .icon-logo{
    color: #d2d2d2;
    position: relative;
}
.gb_bottom_bar .icon-logo:after{
    content: '';
    width: 2px;
    height: 50%;
    background: #d2d2d2;
    position: absolute;
    right:0;
}
.search_top_bar{
    position: fixed;
    top:0;
    width:100%;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.1);
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.1);
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    color: rgba(0,0,0,0.5);
    overflow: hidden;
    height:60px;
    z-index:10;
    background: #f7f7f8;
}
.search_top_bar p{
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:400;
    padding-left: 30px;
}
.gb_location_block{
    padding: 30px;
    margin-top:100px;
    margin-bottom:100px;
}
.gb_location_block .gb_location_item{
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.1);
    margin-bottom: 30px;
    overflow: hidden;
}
.gb_location_item_top{
    display: flex;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    background: rgba(0,0,0,0.08);
    padding:15px;


}
.gb_location_item_top span{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: rgba(0,0,0,0.4);
    font-weight:400;
    display: block;
}
.gb_location_item_bottom{
    display: flex;
    padding:15px;
    background: #ffffff;
}
.gb_location_item_bottom .item_bottom_in{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex-direction: column;
    color: #666666;
}
.gb_location_item_bottom .item_bottom_in p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight:400;
}
.close_top_bar{
    position: absolute;
    top:0;
    left:20px;
    color: #333333;
    font-size: 30px;
}
.gb_time_main{
    text-align: center;
    color: #fff;
    padding:30px 30px;
    position: relative;
    overflow: hidden;
}
.gb_time_main h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}
.gb_time_main h1 span{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    display: block;
    text-transform: uppercase;
}
.gb_time_block{
    overflow: scroll;
    height:60vh;
    padding-right: 15px;
    margin-right: -15px;
}
.gb_time_item.active{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding:15px 0;
}
.gb_time_item{
    background: transparent;
    overflow: hidden;
    padding:15px 0;
}
.gb_time_item.select{
    border-top: 2px solid rgba(0,0,0,0.05);
    border-bottom:2px solid rgba(0,0,0,0.05);
}
.gb_time_item p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight:700;
    color: #999999;
}
.gb_time_item.active p{
    color: #333333;
}
.gb_time_item p span{
    font-weight:400;
}
.gb_time_overflow{
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,128,128,0) 50%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,0)), color-stop(70%, rgba(0,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,128,128,0) 50%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,128,128,0) 50%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,128,128,0) 50%); /* ie10+ */
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,128,128,0) 50%); /* w3c */
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    pointer-events: none;
}
.gb_first_page{
    background: #f7f7f7;
    /*display: flex;*/
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
}
.gb_logo{
    padding: 60px 0;
    text-align: center;
}
.gb_logo img{
    padding-bottom: 30px;
    max-width: 175px;
    max-height: 125px;
}
.gb_first_page .gb_logo h1{
    color: #333333;
}
.gb_logo h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto;
    line-height: 40px;
}
.gb_logo h1 span{
    font-weight:700;
    display: block;
}
.gr_location{
    text-align: center;
    width:100%;
    margin-bottom: 30px;
}
.gr_location button{
    cursor: pointer;
    outline:none;
    max-width: 320px;
    width:80%;
    height:60px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 30px;
    font-size: 0.9em;
    font-weight:700;
    margin-bottom: 20px;
    padding-left: 10%;
}
.gb_first_page .gr_location button{
    border: 1px solid #202020;
}
.gb_first_page .gr_location .btn_location{
    background: #202020;
    color: #fff;
    position: relative;
}
.gb_first_page .gr_location .btn_location:before{
    position: absolute;
    left: 12%;
}
.gb_first_page .gr_location .btn_search{
    background: transparent;
    color: #202020;
    position: relative;
}
.gb_first_page .gr_location .btn_search:before{
    position: absolute;
    left: 12%;
}
.gb_footer{
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    width: 100%;
    position: absolute;
}
.gb_first_page_black{
background: #202020;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
}
.gb_first_page_black .gb_logo h1{
    color: #fff;
}
.gb_first_page_black .gr_location .btn_location{
    background: #fff  center left 10% no-repeat;
    color: #202020;
    background-image: url("img/gb_location_black.png");
}
.gb_first_page_black .gr_location .btn_search{
    background: transparent  center left 10% no-repeat;
    color: #fff;
    background-image: url("img/gb_serch_white.png");
}
.gb_first_page_black .gr_location button{
    border: 1px solid #fff;
}
@media screen and (orientation: landscape) {
    .gb_logo img {
        padding-bottom: 60px;
        max-height: 225px;
    }
    .gb_logo {
        padding: 60px 0;
    }
    .gb_logo h1 {
        line-height: 75px;
    }
    .gr_location button{
        width:45%;
        height:80px;
        border-radius: 40px;
        margin-bottom: 0;
        padding-left: 7%;
        font-size: 23px;
    }
    .gr_location {
        display: flex;
        justify-content: space-around;
    }
}
